{% extends "magicjourney/base.html" %}

{% block title %}
Magic Journey
{% endblock %}

{% block body %}
<h1>Hello World</h1>

{% if user.is_authenticated %}
<div class="player-card" style="display: none;">
    <div class="container">
        <h4><b>{{ user.username }}</b></h4>
        {% for field in fields %}
        <p>{{ field.0|title }}: <span id="{{field.0}}-value">{{ field.1 }}</span></p>
        {% endfor %}
    </div>
</div>


<div id="narrator" style="display: none;"></div>

<div id="choices" style="display: none;">
    <select id="family">
        <option value="Muggle">Muggle</option>
        <option value="Half-blood">Half-blood</option>
        <option value="Pure-blood">Pure-blood</option>
    </select>
</div>


<button id="start">Start your journey!</button>
{% endif %}
{% endblock %}