{% extends "magicjourney/base.html" %}

{% block title %}
Magic Journey
{% endblock %}

{% block body %}
<h1 id="location">Hello World</h1>

{% if user.is_authenticated %}
<div class="player-card" style="display: none;">
    <div class="container">
        <h4><b>{{ user.username }}</b></h4>
        {% for field in fields %}
        <p>{{ field.0|title }}: <span id="{{field.0}}-value">{{ field.1 }}</span></p>
        {% endfor %}
        <p>Money: <span id="money">{{ player.money_in_galleons }}</span></p>
    </div>
</div>


<div id="narrator" style="display: none;"></div>

<div id="choices" style="display: none;"></div>

<table id="table" style="display: none;">
    <tr id="column_names">
    </tr>
</table>

<button id="start">Start your journey!</button>
{% endif %}
{% endblock %}