{% extends "network/layout.html" %}
{% block body %}
<h2>{{ username }}</h2>
{{ following_count }} Following {{ followers }} Followers
{% if user.is_authenticated %}
{% if user.username != username %}
<form method="POST" id="followform">
    {% csrf_token %}

        <button type="submit" id="followbutton">
            {% if user in following %}
            Unfollow
            {% else %}
            Follow
            {% endif %}
        </button>
</form>
{% endif %}
{% endif %}
{% for post in posts %}
<div class="post" id="post">
    <p>{{ post.post }}</p>
    {{ post.likes }}
    <a href="{% url 'user' post.user.username %}">{{post.user.username}}</a> {{ post.date }}
</div>
{% endfor %}

{% if posts.has_other_pages %}
        <ul class="pagination">
    {% if posts.has_previous %}
        <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
        <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
        </ul>
    {% endif %}
{% endblock %}