{% extends "auctions/layout.html" %}

{% block title %} Auctions for category {{ category }} {% endblock %}
{% block body %}
    <h2>Active Listings</h2>

    <table class="table table-striped" style="font-size:x-large; text-align: center;">
        <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Descirption</th>
            <th>User</th>
        </tr>
            {% for auction in auctions %}
            <tr>
                <td><img src="{{ auction.image.url }}" alt="img" width="200" height="200"></td>
                <td><a href="{% url 'auction' auction.id %}">{{ auction.name }}</a> </td>
                <td>{{ auction.min_price }} </td>
                <td>{{ auction.category }}</td>
                <td>{{ auction.description }}</td>
                <td>{{ auction.user }}</td>

            {% empty %}
                <h5>No active listings</h5>

            {% endfor %}
            </tr>
    </table>
    

{% endblock %}